.section__brends {
  background-color: #040404;
}

.brends {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1440px;
  height: 122px;
  flex-wrap: wrap;
  column-gap: 20px;
}

.brends-icon {
  width: 200px;
  height: 38px;
  margin: 10px 0px;
}

@media(width <=992px) {
  .brends {
    height: 300px;
  }
}

@media(width <=768px) {
  .brends {
    height: 450px;
  }

  .brends-icon {
    display: block;
    height: 38px;
    margin: 5px 0px;

  }
}

@media(width <=500px) {
  .brends-icon {
    width: 200px;
    height: 38px;
    /* height: 38px; */
  }
}