body {
    font-family: 'Press Start 2P';
    animation: move-block 3s 1s infinite alternate;

}

@keyframes move-block {
    0% {
        
    background: #000;
}

    100% {
        background: #ffffff;
        }
}

.main {
    width: 500px;
    height: 600px;
    background: #9A92E9;
    background: linear-gradient(193deg, rgba(154, 146, 233, 1) 0%, rgba(255, 180, 141, 1) 46%, rgba(146, 233, 197, 1) 100%);
    margin-top: 10px;
    margin-left: 500px;
    border-radius: 50px;
    -webkit-box-shadow: 0px 5px 26px 2px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0px 5px 26px 2px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0px 5px 26px 2px rgba(0, 0, 0, 0.2) inset;

}

.vay:hover {
    transform: scale(1.2);

}

.shadow {
    position: absolute;
    z-index: -1;
    width: 500px;
    height: 600px;
    margin-left: 530px;
    margin-top: 20px;
    border-radius: 50px;
    background: #000;
    filter: blur(2px);

}

.button-one {
    color: #ffffff;
    width: 200px;
    height: 80px;
    font-size: 20px;
    border-radius: 20px;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 36%, rgba(148, 187, 233, 1) 100%);
    margin-bottom: 10px;
    margin-left: 150px;
    margin-top: 100px;
    transition: 1s;


}

.button-two {
    color: #ffffff;
    width: 200px;
    height: 80px;
    font-size: 20px;
    border-radius: 20px;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 36%, rgba(148, 187, 233, 1) 100%);
    margin-bottom: 10px;
    margin-left: 150px;
    transition: 1s;
    margin-top: 10px;
}
.button-three {
    color: #ffffff;
    width: 200px;
    height: 80px;
    font-size: 20px;
    border-radius: 20px;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 36%, rgba(148, 187, 233, 1) 100%);
    margin-bottom: 10px;
    margin-left: 150px;
    transition: 1s;
    margin-top: 10px;
}
.button-four {
    color: #ffffff;
    width: 200px;
    height: 80px;
    font-size: 20px;
    border-radius: 20px;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 36%, rgba(148, 187, 233, 1) 100%);
    margin-bottom: 10px;
    margin-left: 150px;
    transition: 1s;
    margin-top: 10px;
}
.button-five {
    color: #ffffff;
    width: 200px;
    height: 80px;
    font-size: 20px;
    border-radius: 20px;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 36%, rgba(148, 187, 233, 1) 100%);
    margin-bottom: 10px;
    margin-left: 150px;
    transition: 1s;
    margin-top: 10px;
}