.block-1 {
    background: #e5ac50;
    height: 60px;
}

.linki {
    color: #333;
}

.block-2 {
    background: #f6e7cf;
}

.block-3 {
    background: #7b2cdd;
    height: 300px;
    color: #FFF;
}


.agga-2 {
    width: 100px;
    height: 50px;
    position: absolute;
    translate: 850px -55px;
}

.foto-1 { 
    width: 250px;
    height: 250px;
}

#link-1 {
    font-weight: bold;
    font-size: 24px;
}

#link-2 {
    font-weight: bold;
    font-size: 24px;
}

#one {
    color: #FFF;
}

.ne-pon{
    color: #FFF ;
    
}

#agga {
    width: 100px;
    height: 300px;
    position: absolute;
    translate: 600px -176px;
}

#lissen-2 {
    width: 100%;
    height: 100%;
}

#lissen-2-1 {
    translate: 400px;
}