body { 
    font-family: sans-serif;
    background: #FFFDD0;
}

.container { 
    width: 500px ;
    height: 500px;
    background: #998053;
    border-radius: 20px;
    margin: 80px auto auto;
    



}

form  { 
    display: block;
    position: absolute;
    top: 100px;
    left: 615px;
}

fieldset { 
    max-width: 300px;
    border: 2px solid #000;
    border-radius: 10px;
}

legend { 
    margin:10px 0 5px;

}

.one { 
    border-radius: 5px;
    width: 250px;
    border: 1px solid #000000;
    height: 20px;
}

textarea { 
    resize: vertical;
    min-height: 50px;
    max-height: 200px;
    width: 235px;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 5px 10px 0 ;
}


.galka { 
    cursor: pointer ;
    width: 15px;
    height: 15px;
}

.button { 
    cursor: pointer;
    border-radius: 5px;
    margin: 5px 0 0 0 ;
}