body {
    text-align: center;
    background: #fffdd0;
    
}

.container {
    display: inline-block;
    width: 300px;
    height: 300px;
    background: #ffffff;
    margin: 100px auto auto;
    border: 5px solid #000;
    border-radius: 20%;
}

table {
    overflow: auto;
    border-collapse: collapse;
    margin: 25px auto auto;

}

.theader {
    padding: 10px 50px;
    font-size: 25px;
}

.day {
    font-size: 20px;
}

.day-off {
    color: red;
}

thead,
tbody,
tfoot,
td,
tr,
th {
    border: 2px solid rgb(0, 0, 0);
}

th,
tr,
td {
    padding: 5px;
}