body {
    background-color: #333;
    color: #fff;
    font-family: sans-serif;
    font-size: 40px;
}


.task { 
    margin-top: 250px;
    text-align: center;
}

.task::before { 
    content: "разместить что-то-";
    color: #f5f105;
    
}

.task::after { 
    content:"-тазместить что-то";
    color: #8400ff;
}

