* {box-sizing:border-box;}





.container{ 
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 1280px;
    height: 80px;
    margin: 0 auto auto;
    border-bottom: 1px solid #333;

}

.black-box { 
    background: #000;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.items-list {
    padding: 0;
    margin: 0;
}
.items { 
    display: inline-block;
    text-decoration: underline #333;
}

a { 
    text-decoration: none;
    color: #000;
}

